.header {
	width: 100%;
	background-color: white;
	height: 80px;
	margin: 0;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	gap: 100px;
}

@media (max-width: 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}